*
!/scripts
!/scripts/**
!/datasets
!/datasets/**
!/AT4G33430.1
!/AT4G33430.1/**
!/.gitignore
!/visualize-tree.r
!/psiblast-align-tree.sh
!/tblastn-align-tree.sh
!/blastp-align-tree.sh
!/bat-flowchart.pptx
!/flowchart.png
!/tree.png