
# Ignore everything in the root directory
*
.DS_Store

# But don't ignore these specific directories and their contents
!/scripts
!/scripts/**
!/datasets
!/datasets/**
!/AT4G33430.1
!/AT4G33430.1/**
!/images
!/images/**
!/environments
!/environments/**
!/genomes
!/genomes/animals
!/genomes/animals/**

# Don't ignore these specific folders but ignore their contents unless noted
!/hmm_files
!/hmm_files/kinase.hmm

# Don't ignore the .gitignore file itself
!/.gitignore

# Don't ignore these specific files in the root directory
!/visualize_tree.r
!/psiblast-align-tree.sh
!/tblastn-align-tree.sh
!/blastp-align-tree.sh
!/blast_align_tree.py
!/bat-flowchart.pptx
!/gene_symbols.txt
!/flowchart.png
!/tree.png
!/bbl.png
!/bbl2.png
!/install_r_deps.R
!/genome_selector.py